body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

#drop_zone {
    border: 2px dashed #bbb;
    padding: 50px;
    cursor: pointer;
}

#drop_zone.hover {
    background-color: #eee;
}